@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bold;
}

p {
font-family:'Dancing_Script', sans-serif;
}

@layer utilities {
  .text-balance {
    word-wrap: break-word; /* Fallback for older browsers */
    text-wrap: balance;    /* Only for modern browsers */
  }
}
